# Ignorar todo por defecto
*

# Permitir elementos específicos
!package.json
!.yarnrc.yml
!.yarn/
!.yarn/**
!libs/
!libs/**
!components/
!components/**
!stories/
!stories/**
!common/
!common/**
!.storybook/
!.storybook/**
!assets/
!assets/**
!postcss.config.cjs
!tailwind.config.ts
!vite.config.ts
!tsconfig.json
!lerna.json
!.eslintrc.cjs
!nginx.conf

# Excluir elementos sensibles/no necesarios (redundante pero claro)
yarn.lock
.git
.gitignore
.env*
*.md
LICENSE
Dockerfile*
docker-compose*
node_modules
dist
.turbo
.cache
.vscode
.idea
coverage
*.log
lerna-debug.log
npm-debug.log
yarn-error.log
storybook-static
*.spec.*
*.test.*
*.d.ts
.dockerignore