@use "element-plus/theme-chalk/src/table.scss" as *;
@use "element-plus/theme-chalk/src/table-column.scss" as *;

.gui-table {
  @apply bg-transparent;
  --gui-table-row-hover-bg-color: #f6f6f6;

  .gui-table__body-wrapper,
  .gui-table__header-wrapper {
    @apply rounded-sm relative;
  }

  .gui-table__border-left-patch {
    display: none;
  }

  .gui-table__header-wrapper {
    @apply mb-2;
  }

  .caret-wrapper {
    @apply h-[18px] text-5;
  }

  thead {
    th.gui-table__cell {
      @apply text-gray-2 font-montserrat font-semibold py-4;
      &:first-child {
        @apply rounded-l-md;
      }
      &:last-child {
        @apply rounded-r-md;
      }
    }
  }

  td.gui-table__cell {
    @apply py-4 text-gray-2;
  }

  &.gui-table--border {
    &:before,
    &:after {
      display: none;
    }

    .gui-table__inner-wrapper {
      &:before,
      &:after {
        display: none;
      }
    }

    .gui-table__body-wrapper,
    .gui-table__header-wrapper {
      @apply border-solid border-t;
      border-color: var(--gui-table-border-color);
      border-bottom: none;
      &:before {
        content: "";
        @apply h-full w-[1px] top-0 left-0 z-10 absolute rounded-sm;
        background-color: var(--gui-table-border-color);
      }
    }
  }
}