@use "element-plus/theme-chalk/src/select.scss" as *;

.gui-select-wrapper {
  @apply relative font-montserrat w-full;

  .label--active {
    @apply text-2 translate-y-0;
  }

  .label--no-active {
    @apply top-1/2 -translate-y-1/2 text-4;
  }

  &.size--tiny .label--active {
    top: 14%;
    @apply text-[11px];
  }

  &.size--small .label--active {
    top: 15%;
  }

  &.size--medium .label--active,
  &.size--large .label--active {
    top: 16%;
    @apply text-[14px];
  }

  .gui-input-label {
    @apply absolute z-10 duration-200 transition-all text-gray-4 px-3 text-ellipsis overflow-hidden whitespace-nowrap select-none leading-none;
  }

  .gui-select {
    &--tiny .gui-select__wrapper {
      @apply h-10 text-3;
    }

    &--small .gui-select__wrapper {
      @apply h-12 text-3;
    }

    &--medium .gui-select__wrapper {
      @apply h-14 text-4;
    }

    &--large .gui-select__wrapper {
      @apply h-16 text-5;
    }

    &:hover .gui-select__wrapper {
      @apply border-none;
    }

    .gui-select__wrapper {
      @apply shadow-none border-none px-3 rounded-xl;

      &.is-disabled {
        @apply bg-gray-11 cursor-not-allowed;
      }
    }
  }

  &.gui-select-wrapper--shadow .gui-select__wrapper {
    @apply shadow-sm;
  }

  &.gui-select-wrapper--transparent .gui-select__wrapper {
    @apply bg-transparent;
  }

  &.gui-select-border-bg {
    .gui-select .gui-input__wrapper {
      @apply shadow-sm;
    }

    .gui-select__wrapper {
      --color-border: theme(colors.gray.1);
      box-shadow: var(--color-border) 0px 0px 0px 1px;
    }
  }
}